@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Space+Mono&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*Fonts*/
    --primaty-font: 'Montserrat';
    --secondary-font: 'Space Mono';
    font-size: 16px;

    /*Colors*/
    --light-shades-color: #FBF8FA;
    --light-accent-color: #E3CFC0;
    --main-brand-color: #2A2F40;
    --dark-accent-color: #8B7E7F;
    --dark-shades-color: #86AAB3;
}

/*Global styles*/
html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/*Header*/
.header {
    width: 100%;
    background-color: var(--light-shades-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: 0.3s;
}

.nav {
    width: 100%;
    position: absolute;
    top: -150px;
    left: 0;
    background-color: white;
    border-radius: 0 0 5px 5px;
    transition: 0.3s;
    transform: scale(0);
}
.menu-icons{
    position: absolute;
    z-index: 20;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    padding: 5px;
    margin: 15px;
    background-color: rgba(255,255,255, 0.7);
    border-radius: 5px;
}

.menu-toggle ~ .menu-icons > .close, .menu-toggle:checked ~ .menu-icons >.open{
    display: none;
}
.menu-toggle:checked ~ .menu-icons > .close, .menu-toggle ~ .menu-icons >.open{
    display: block;
}
.menu-toggle, .menu-toggle:checked{
    opacity: 0;
}

.menu-toggle:checked ~ .nav{
    position: absolute;
    transform: scale(1) translateY(150px);
}


.nav-list {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    list-style: none;
}

.nav-item {
    width: 100%;
    text-align: center;
    margin: 5px 0;
}

.nav-link {
    display: block;
    text-decoration: none;
    padding: 5px;
    font-size: 1.2rem;

    color: var(--main-brand-color);
    transition: 0.3s ease-in-out;

    font-family: var(--primaty-font);
}

/*About me*/

.section-header {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    font-family: var(--primaty-font);
    font-size: 2rem;

    background-color: #f3ec78;
    background-image: linear-gradient(45deg, var(--light-accent-color), var(--dark-accent-color), var(--dark-shades-color), var(--main-brand-color));
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 5s ease infinite;
    will-change: background-clip, -webkit-background-clip, -webkit-text-fill-color, animation ;
}

.description {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    font-family: var(--primaty-font);

    box-shadow: 0 0 5px var(--dark-shades-color);
    border-radius: 5px;
    padding: 10px;

    background: url("assets/clouds.jpg") no-repeat center;
}

.description h3 {
    font-size: 1.5rem;
    padding: 15px;
    margin: 0 auto;
}

.description p {
    text-align: justify;
    font-family: var(--secondary-font);
}

.description li {
    width: 100%;
    margin: 5px 0;
    padding: 5px 0;
}

.description a {
    color: var(--main-brand-color);
    font-size: 1.2rem;
}

/*Projects*/

.project-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;
    width: 90%;
    margin: 0 auto;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border-radius: 6px;
}

.card::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;

    border-radius: 6px;

    z-index: -10;

    background: linear-gradient(315deg, var(--dark-accent-color), var(--dark-shades-color));

    transition: 0.3s;
}

.card:hover::before, .card:active::before {
    transform: skew(2.5deg, 2.5deg);
}

.card-name {
    font-family: var(--primaty-font);
    margin: 15px auto;
    font-style: italic;
}

.card-description {
    margin: 15px;
}

.card-links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    padding: 15px 0;
}

.card:nth-of-type(2n) .card-links {
    flex-direction: row-reverse;
}


.card-links a {
    background-color: var(--light-accent-color);
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid var(--light-shades-color);
}

/*Contact*/
.form {
    width: 90%;
    margin: 0 auto;
    padding: 25px 15px;
    text-align: right;

    box-shadow: 0 0 5px var(--dark-shades-color);
    border-radius: 5px;
}

.input-wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    margin: 15px 0;

}
.input-wrapper label{
    position: absolute;
    top: 0;
    left: 10%;
    z-index: 10;

    transition: 0.3s;
}
.input-wrapper input, .input-wrapper textarea {
    padding: 5px;
    margin: 25px 0;
    transform: scale(0.8);
    transition: 0.3s ease-in-out;
    font-family: var(--primaty-font);
    border: none;
    border-bottom: 1px solid black;
}


.input-wrapper textarea {
    min-height: 200px;
    font-size: 1.2rem;
}

.input-wrapper:focus-within input, .input-wrapper:focus-within textarea{
        padding: 5px;
        margin: 0 10px;
        transform: scale(1);
}
.input-wrapper:focus-within label{
    top: -25px;
}

.form button {
    margin-top: 20px;
    margin-right: 10%;
    padding: 5px 20px;
    border: 2px solid var(--dark-accent-color);
    border-radius: 15px;
    cursor: pointer;
}

.contact-wrapper{
    width: 90%;
    margin: 0 auto;
}

.contact-wrapper h3{
    text-align: center;
    margin: 25px 0;
}

.contact-list{
    margin-left: 15px;
}
.contact-list li {
    font-weight: bold;
    padding: 5px;
}

.contact-list li span{
    padding: 20px 0;
    font-family: var(--secondary-font);
    font-weight: normal;
}

/*Footer*/

.footer {
    margin-top: 25px;
    width: 100%;
    min-height: 50px;
    background-color: var(--dark-shades-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0  0;
}

.footer span{
    flex-shrink: 1;
}

.footer i{
    color: red;
}


@media screen and (min-width: 480px) {
    /*Header*/
    .nav-item {
        margin: 10px 0;
    }

    .nav-link {
        padding: 10px;
        font-size: 1.4rem;
    }

    .menu-icons{
        top: 25px;
        right: 25px;
        font-size: 1.7rem;
        padding: 10px;
        margin: 20px;
        border-radius: 5px;
    }

    /*About me*/
    .section-header {
        font-size: 2.2rem;
        margin: 15px 0;
    }

    .description {
        border-radius: 7px;
        padding: 20px;
    }

    .description h3 {
        font-size: 1.6rem;
        padding: 20px;
    }

    .description p {
        font-size: 1.2rem;
    }

    .description a::after {
        content: '';
        display: block;
        height: 2px;
        width: 0;
        background-color: black;
        transition: 0.2s ease-in;
    }

    .description a:hover::after {
        width: 100%;
    }

    .description a {
        font-size: 1.4rem;
    }

    /*Projects*/
    .project-container {
        grid-gap: 35px;
        grid-template-columns: repeat(2, 1fr);
    }

    .card-name {
        margin: 20px auto;
        font-size: 1.2rem;
    }

    .card-description {
        margin: 20px;
        font-size: 1.2rem;
    }

    .card-links a {
        padding: 10px 20px;
        border-radius: 7px;
        border: 3px;
        font-size: 1.2rem;
    }
    /*Contact*/
    .form {
        padding: 30px 20px;
    }

    .input-wrapper {
        margin:20px 0;
    }

    .input-wrapper input, .input-wrapper textarea {
        padding: 10px;
        margin: 30px 0;
    }


    .input-wrapper:focus-within input, .input-wrapper:focus-within textarea{
        padding: 10px;
        margin: 0 10px;
        transform: scale(1);
    }
    .input-wrapper:focus-within label{
        top: -30px;
    }

    .form button {
        margin-top: 25px;
        padding: 10px 25px;
        border-radius: 20px;
        font-size: 1rem;
    }

    .contact-wrapper h3{
        margin: 30px 0;
    }

    .contact-list{
        margin-left: 20px;
    }
    .contact-list li {
        padding: 10px;
        font-size: 1rem;
    }

    .contact-list li span{
        padding: 25px 0;
        font-size: 1rem;
    }
    /*Footer*/
    .footer {
        margin-top: 35px;
        min-height: 75px;
        border-radius: 10px 10px 0  0;
    }

    .footer span{
        flex-shrink: 1;
        font-size: 1.1rem;
    }



}

@media screen and (min-width: 768px) {

    .menu-icons{
        font-size: 1.9rem;
        padding: 10px;
        margin: 20px;
        border-radius: 5px;
    }


    .nav-list {
        flex-wrap: nowrap;
        width: 98%;
        margin: 0 auto;
    }

    .nav-link {
        transition: 0.2s ease-in;
        transform: scale(0.9);
        font-size: 1.6rem;
    }

    .nav-link:hover {
        transform: scale(1);
        box-shadow: 0 0 5px var(--dark-shades-color);
        border-radius: 5px;
    }

    .section-header {
        font-size: 2.4rem;
        margin: 20px 0;
    }

    .description {
        border-radius: 10px;
        padding: 30px;
    }

    .description h3 {
        font-size: 1.8rem;
    }

    .description p {
        font-size: 1.4rem;
        line-height: 1.5;
    }

    .description a {
        font-size: 1.8rem;
        margin: 10px 0;
    }

    .project-container {
        grid-auto-columns: 1fr 1fr;
    }

    .card-name {
        margin: 25px auto;
        font-size: 1.3rem;
    }

    .card-description {
        margin: 25px;
        font-size: 1.3rem;
    }

    .card-links a {
        padding: 15px 25px;
        border-radius: 7px;
        font-size: 1.3rem;
    }

    /*Contact*/
    .form {
        padding: 30px 20px;
    }

    .input-wrapper {
        margin:20px 0;
    }

    .input-wrapper input, .input-wrapper textarea {
        padding: 10px;
        margin: 30px 0;
    }


    .input-wrapper:focus-within input, .input-wrapper:focus-within textarea{
        padding: 10px;
        margin: 0 10px;
        transform: scale(1);
    }
    .input-wrapper:focus-within label{
        top: -30px;
    }

    .form button {
        margin-top: 25px;
        padding: 10px 25px;
        border-radius: 20px;
        font-size: 1rem;
    }

    .contact-wrapper h3{
        margin: 30px 0;
    }

    .contact-list{
        margin-left: 20px;
    }
    .contact-list li {
        padding: 10px;
        font-size: 1rem;
    }

    .contact-list li span{
        padding: 25px 0;
        font-size: 1rem;
    }
    /*Contact*/
    .form {
        padding: 30px 20px;
    }

    .input-wrapper {
        margin:20px 0;
    }

    .input-wrapper input, .input-wrapper textarea {
        padding: 10px;
        margin: 30px 0;
    }


    .input-wrapper:focus-within input, .input-wrapper:focus-within textarea{
        padding: 10px;
        margin: 0 10px;
        transform: scale(1);
    }
    .input-wrapper:focus-within label{
        top: -30px;
    }

    .form button {
        margin-top: 25px;
        padding: 10px 25px;
        border-radius: 20px;
        font-size: 1rem;
    }

    .contact-wrapper h3{
        margin: 30px 0;
    }

    .contact-list{
        margin-left: 20px;
    }
    .contact-list li {
        padding: 10px;
        font-size: 1rem;
    }

    .contact-list li span{
        padding: 25px 0;
        font-size: 1rem;
    }


    /*Contact*/
    .form {
        padding: 35px 25px;
    }

    .input-wrapper {
        margin:25px 0;
    }

    .input-wrapper input, .input-wrapper textarea {
        padding: 15px;
        margin: 35px 0;
    }


    .input-wrapper:focus-within input, .input-wrapper:focus-within textarea{
        padding: 15px;
        margin: 0 15px;
    }
    .input-wrapper:focus-within label{
        top: -35px;
    }

    .form button {
        padding: 15px 30px;
        border-radius: 25px;
        font-size: 1.1rem;
    }

    .contact-wrapper h3{
        margin: 35px 0;
    }

    .contact-list{
        margin-left: 30px;
    }
    .contact-list li {
        padding: 15px;
        font-size: 1.1rem;
    }

    .contact-list li span{
        padding: 30px 0;
        font-size: 1.1rem;
    }

}

@media screen and (min-width: 992px) {

    .header, .nav{
        position: static;
        transform: none;
    }


    .menu-toggle,.menu-icons{
        display: none;
    }
    .nav-item {
        margin: 15px 0;
    }

    .nav-link {
        padding: 15px;
        font-size: 1.8rem;
    }

    .section-header {
        margin: 25px 0;
        font-size: 2.6rem;
    }

    .description {
        width: 85%;
        box-shadow: 0 0 10px var(--dark-shades-color);
        border-radius: 15px;
        padding: 35px;
    }

    .description h3 {
        font-size: 2rem;
        padding: 20px;
    }

    .description p {
        font-size: 1.6rem;
    }

    .description a {
        font-size: 2rem;
        margin: 15px 0;
    }

    .project-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .contact{
        display: flex;
        flex-wrap: wrap;
    }

    .section-header{
        width: 100%;
    }

    .form{
        max-width: 50%;
        margin-left: 5%;
    }
    .contact-wrapper{
        max-width: 40%;
        text-align: center;
    }

    .form {
        padding: 40px 30px;
    }

    .input-wrapper {
        margin:25px 0;
    }

    .input-wrapper input, .input-wrapper textarea {
        padding: 15px;
        margin: 35px 0;
    }


    .input-wrapper:focus-within input, .input-wrapper:focus-within textarea{
        padding: 15px;
        margin: 0 15px;
    }
    .input-wrapper:focus-within label{
        top: -35px;
    }

    .form button {
        padding: 15px 30px;
        border-radius: 25px;
        font-size: 1.1rem;
    }

    .contact-wrapper h3{
        margin: 35px 0;
    }

    .contact-list li {
        padding: 20px;
        font-size: 1.2rem;
    }

    .contact-list li span{
        padding: 35px 0;
        font-size: 1.2rem;
    }
    /*Footer*/
    .footer {
        margin-top: 50px;
        min-height: 100px;
        border-radius: 15px 15px 0  0;
    }

    .footer span{
        flex-shrink: 1;
        font-size: 1.2rem;
    }



}

@media screen and (min-width: 1200px) {
    .section-header {
        margin: 35px 0;
        font-size: 3rem;
    }

    .project-container {
        grid-template-columns: repeat(4, 1fr);
    }

    /*Contact*/

    .form {
        margin-left: 10%;
    }



    .input-wrapper:focus-within label{
        top: -45px;
        font-size: 1.2rem;
    }

    .form button {
        padding: 15px 35px;
        border-radius: 35px;
        font-size: 1.1rem;
    }

    .contact-wrapper h3{
        margin: 35px 0;
        font-size: 1.6rem;
    }

    .contact-list li {
        padding: 25px 0;
        font-size: 1.3rem;
    }

    .contact-list li span{
        padding: 40px 0;
        font-size: 1.3rem;
    }

}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
